<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
      <li class="nav-header">
        <div class="dropdown profile-element">
          <div class="rounded-circle-navigation"> 
            <% if current_user.avatar.present? %>
              <img alt="image" src="<%= current_user.avatar %>"/>
            <% else %>
              <img alt="Imagen no cargada" src="/sinFoto.jpg">
            <% end %>
          </div>      
          <a data-toggle="dropdown" class="dropdown-toggle" href="#">
              <span class="block m-t-xs font-bold"> <%= current_user.nombre + ' ' + current_user.apellido %></span>
              Opciones <b class="caret"></b>
          </a>
          <ul class="dropdown-menu animated fadeInRight m-t-xs">
              <li><a class="dropdown-item" href="profile.html">Profile</a></li>
              <li><a class="dropdown-item" href="contacts.html">Contacts</a></li>
              <li><a class="dropdown-item" href="mailbox.html">Mailbox</a></li>
              <li class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="login.html">Logout</a></li>
          </ul>
        </div>
      </li>
      <li class="<%= 'active' if current_page?('/') %>">
        <%= link_to "/" do %>
          <i class="fa fa-laptop"></i> <span class="nav-label"> Inicio </span>
        <% end %>
      </li>
      <% unless policy(current_user).admin? %>
        <li class="<%= is_active_controller('orders') %>">
          <a href=""><i class="fa fa-flask"></i> <span class="nav-label" data-i18n="nav.dashboard">Ordenes</span> <span class="fa arrow"></span></a>
          <ul class="nav nav-second-level collapse <%= is_active_controller('orders') %>">
              <li class="<%= is_active_action('index') %>"><%= link_to "Mis envíos", orders_path %> </li>
              <li class="<%= is_active_action('new') %>"><%= link_to "Crear orden", new_order_path %> </li>
          </ul>
        </li>
        
        <li class="<%= is_active_controller('finanzas') %>">
          <%= link_to finanzas_index_path do %>
            <i class="fa fa-shopping-cart"></i> <span class="nav-label"> Mis gastos</span>
          <% end %> 
        </li>
        <li class="<%= is_active_controller('companies/users') %>">
          <%= link_to edit_company_user_path(current_user.company, current_user) do %>
            <i class="fa fa-sitemap"></i> <span class="nav-label"> Mi perfil </span>
          <% end %>
        </li>
        <li class="<%= is_active_controller('companies') %>">
          <%= link_to current_user.company do %>
            <i class="fa fa-sitemap"></i> <span class="nav-label"> Mi Empresa </span>
          <% end %> 
        </li>
        <li class="<%= is_active_controller('invocies') %>">
          <%= link_to invoices_path do %>
            <i class="fa fa-files-o"></i> <span class="nav-label"> Mis facturas </span>
          <% end %> 
        </li>
				
      <% end %>
      <% if policy(current_user).admin? %>
        <li class="<%= is_active_controller('orders') %>">
          <%= link_to orders_path do %>
            <i class="fa fa-flask"></i> <span class="nav-label"> Ver ordenes </span>
          <% end %> 
        </li>
        <li class="<%= is_active_controller('dispatches') %>">
          <%= link_to dispatches_path do %>
            <i class="fa fa-road"></i> <span class="nav-label"> Ver rutas </span>
          <% end %> 
        </li>
        
        <li class="<%= is_active_controller('companies') %>">
          <a href=""><i class="fa fa-sitemap"></i> <span class="nav-label">Empresas</span> <span class="fa arrow"></span></a>
          <ul class="nav nav-second-level">
            <li>
              <%= link_to companies_path do %>
                <span class="nav-label">Ver empresas</span>
              <% end %>
            </li>
            <li>
              <%= link_to new_company_path do %>
                <span class="nav-label">Crear empresas</span>
              <% end %>
            </li>
          </ul>
        </li>
        <li class="<%= is_active_controller('invoices') %>">
          <a href="#"><i class="fa fa-files-o"></i> <span class="nav-label"> Facturas </span> <span class="fa arrow"></span></a>
          <ul class="nav nav-second-level">
            <li>
              <%= link_to invoices_path do %>
                <span class="nav-label"> Buscar facturas </span>
              <% end %>
            </li>
            <li>
              <%= link_to new_invoice_path do %>
                <span class="nav-label">Crear facturas</span>
              <% end %>
            </li>
          </ul>
        </li>
        <li class="<%= is_active_controller('finanzas') %>">
          <%= link_to finanzas_index_path do %>
            <i class="fa fa-shopping-cart"></i> <span class="nav-label"> Reportes </span>
          <% end %> 
        </li>
        
      <% end %>
      <li class="<%= is_active_controller('pages') %>">
        <%= link_to "/pages/acerca" do %>
          <i class="fa fa-info"></i> <span class="nav-label">Acerca de</span> </span>
        <% end %>
      </li>
    </ul>
  </div>
</nav>