<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
      <li class="nav-header">
          <div class="dropdown profile-element">
              
            <p> <%= @razon_social %> <p> 
              
          </div>
      </li>
      <li class="<%= 'active' if current_page?('/') %>">
          <%= link_to "/" do %>
            <i class="fa fa-laptop"></i> <span class="nav-label"> Inicio </span>
          <% end %>
      </li>
      
      <% unless policy(current_user).admin? %>
        <li class="active">
          <a href="#"><i class="fa fa-flask"></i> <span class="nav-label">Ordenes</span> <span class="fa arrow"></span></a>
          <ul class="nav nav-second-level">
            <li class="<%= 'active' if current_page?('/') %>">
              <%= link_to orders_path do %>
                <span class="nav-label">Mis envios</span>
              <% end %>
            </li>
            <li class="<%= 'active' if current_page?('/') %>">
              <%= link_to new_order_path do %>
                <span class="nav-label">Programar envio</span>
              <% end %>
            </li>
          </ul>
        </li>
      <% end %>
    
      <% if policy(current_user).admin? %>
        <li class="active">
          <a href="#"><i class="fa fa-flask"></i> <span class="nav-label">Ordenes</span> <span class="fa arrow"></span></a>
          <ul class="nav nav-second-level">
            <li class="<%= 'active' if current_page?('/') %>">
              <%= link_to orders_path do %>
                <span class="nav-label">Envios</span>
              <% end %>
            </li>
          </ul>
        </li>
      <% end %>
      <% if policy(current_user).admin? %>
        <li class="<%= 'active' if current_page?(dispatches_path) %>">
          <%= link_to dispatches_path do %>
            <i class="fa fa-road"></i> <span class="nav-label">Rutas</span>
          <% end %>
        </li>
      <% end %>
      <% if policy(current_user).admin? %>
        <li class="active">
          <a href="#"><i class="fa fa-sitemap"></i> <span class="nav-label">Empresas</span> <span class="fa arrow"></span></a>
          <ul class="nav nav-second-level">
            <li class="<%= 'active' if current_page?('companies/index') %>">
              <%= link_to companies_path do %>
                <span class="nav-label">Ver empresas</span>
              <% end %>
            </li>
            <li class="<%= 'active' if current_page?('/') %>">
              <%= link_to new_company_path do %>
                <span class="nav-label">Crear empresas</span>
              <% end %>
            </li>
          </ul>
        </li>
        <li class="active">
          <a href="#"><i class="fa fa-files-o"></i> <span class="nav-label"> Facturas </span> <span class="fa arrow"></span></a>
          <ul class="nav nav-second-level">
            <li class="<%= 'active' if current_page?('/') %>">
              <%= link_to invoices_path do %>
                <span class="nav-label"> Buscar facturas </span>
              <% end %>
            </li>
            <li class="<%= 'active' if current_page?('invoice/new') %>">
              <%= link_to new_invoice_path do %>
                <span class="nav-label">Crear facturas</span>
              <% end %>
            </li>
          </ul>
        </li>
      <% end %>
      <% if policy(current_user).admin? %>
        <li class="active">
          <a href="#"><i class="fa fa-shopping-cart"></i> <span class="nav-label">Finanzas</span> <span class="fa arrow"></span></a>
          <ul class="nav nav-second-level">
            <li class="<%= 'active' if current_page?('/') %>">
              <%= link_to finanzas_index_path do %>
                <span class="nav-label">Ver finanzas</span>
              <% end %>
            </li>
          </ul>
        </li>
      <% end %> 
      <% if policy(current_user).admin? %>
        <li class="active">
          <ul class="nav nav-second-level">
            
          </ul>
        </li>
      <% end %>   
      <li class="<%= 'active' if current_page?('/') %>">
        <%= link_to "/pages/acerca" do%>
          <i class="bi bi-info-lg"></i><span class="nav-label">Acerca de</span>
          
        <% end %>
    
      </li>        
    </ul>
  </div>
</nav>