<%= simple_form_for(@company) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %> 
    
    <%= f.input :nit, as: :numeric, input_html: { type: 'number' } %>    
    <%= f.input :razon_social %>
    <div class="input-group">
        <div class="custom-file">
            <%= f.input_field :rut, input_html: { accept: 'application/pdf' }, class: 'custom-file-input', label: false %>

            
            <label class="custom-file-label"> Elegir archivo </label>
        </div>
    </div>
    
    <br>
    <%= f.input :avatar, as: :file, input_html: { accept: 'image/*' }, label: false %>
    
    <%= f.button :submit, class:'btn btn-primary btn-sm' %>
<% end %>