<div class="ibox-content m-b-sm border-bottom">
  <div class="row">
    <div class="col-sm-6">
      
        <%= form_tag(orders_path, method: :get, class: "form-group") do %>
          <label class="col-form-label"> Consecutivo: </label>
          <%= text_field_tag :consecutivo, params[:consecutivo], class: "form-control" %>
          <label class="col-form-label"> Desde: </label>
          <%= date_field_tag :fecha_desde, params[:fecha_desde], class: "form-control"%>
  
          <label class="col-form-label"> Hasta: </label>
          <%= date_field_tag :fecha_hasta, params[:fecha_hasta], class: "form-control" %>

          <%= submit_tag "Buscar", class: "btn btn-primary" %>
        <% end %>
      
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5> Envios </h5>
                <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
            
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-arrow-down-fill" viewBox="0 0 16 16">
                    <a xlink:href="<%= orders_path(format:"pdf")%>">
                        <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zm-1 4v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 0 1 .708-.708L7.5 11.293V7.5a.5.5 0 0 1 1 0z"/>
                    </a> 
                </svg>
            
            </div>
        </div>
        <div class="ibox-content">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Consecutivo</th>
                        <th>Descripción</th>
                        <th>Cantidad</th>
                        <th>Origen</th>
                        <th>Destino</th>
                    </tr>
                </thead>
                <tbody>
                  <% if @orders.present? %>
                    <% @orders.each do |order| %>
                        <tr>
                            <td>
                                <div id="celda-anidados">
                                    <p id="datos-envios"><%= order.fecha %></p>
                                </div>
                            </td>    
                            <td id="celda-anidados">
                                <p id="datos-envios"><%= order.consecutivo %></p>
                            </td>
                            <td id="celda-anidados">
                                <% order.packs.each_with_index do |pack, index| %>
                                    <% if index == order.packs.length - 1 %>
                                        <p id="dato-anidado-ultimo"><%= pack.tipo %></p>
                                    <% else %>
                                        <p id="dato-anidado"><%= pack.tipo %></p>
                                    <% end %>
                                <% end %>
                            </td>
                            <td id="celda-anidados">
                                <% order.packs.each_with_index do |pack, index| %>
                                    <% if index == order.packs.length - 1 %>
                                        <p id="dato-anidado-ultimo"><%= pack.cantidad %></p>
                                    <% else %>
                                        <p id="dato-anidado"><%= pack.cantidad %></p>
                                    <% end %>
                                <% end %>
                            </td>
                            <td>
                                <p id="datos-envios"><%= order.origen %></p>
                            </td>
                            <td>
                                <p id="datos-envios"><%= order.destino %></p>
                            </td>
                        </tr>
                      
                    <%end%>
                  <% else %>
                    <p>No se encontraron resultados para "<%= params[:consecutivo] %>".</p>
                  <% end %>
                </tbody>
            </table>
        </div>
    </div>
  </div>
</div>
