<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <%= wicked_pdf_stylesheet_link_tag 'reporte' %>
  <title>Reporte</title>
</head>
<body>
  <header>
    <div class="header-content">
      <div class="logo">
        <%= wicked_pdf_image_tag asset_url('LogoDomitransp.png'), width: 100, height: 50 %>
      </div>
      <div class="text">
        <h6>Servicio de Transporte de: Pasajeros, Encomiendas, Mensajería, Domicilios</h6>
      </div>
    </div>
  </header>
  <b><h3>RELACION DE SERVICIOS PRESTADOS</h3></b>
  <div class="ibox-content">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Consecutivo</th>
          <th>Descripción</th>
          <th>Cantidad</th>
          <th>Origen</th>
          <th>Destino</th>
        </tr>
      </thead>
      <tbody>
        <% if @orders.present? %>
          <% @orders.each do |order| %>
            <tr>
              <td>
                <div id="celda-anidados">
                  <p id="datos-envios"><%= order.fecha %></p>
                </div>
              </td>
              <td id="celda-anidados">
                <p id="datos-envios"><%= order.consecutivo %></p>
              </td>
              <td id="celda-anidados">
                <% order.packs.each_with_index do |pack, index| %>
                  <% if index == order.packs.length - 1 %>
                    <p id="dato-anidado-ultimo"><%= pack.tipo %></p>
                  <% else %>
                    <p id="dato-anidado"><%= pack.tipo %></p>
                  <% end %>
                <% end %>
              </td>
              <td id="celda-anidados">
                <% order.packs.each_with_index do |pack, index| %>
                  <% if index == order.packs.length - 1 %>
                    <p id="dato-anidado-ultimo"><%= pack.cantidad %></p>
                  <% else %>
                    <p id="dato-anidado"><%= pack.cantidad %></p>
                  <% end %>
                <% end %>
              </td>
              <td>
                <p id="datos-envios"><%= order.origen %></p>
              </td>
              <td>
                <p id="datos-envios"><%= order.destino %></p>
              </td>
            </tr>
          <% end %>
        <% else %>
          <p>No se encontraron resultados para "<%= params[:consecutivo] %>".</p>
        <% end %>
      </tbody>
    </table>
  </div>
  <footer class:"fixed-bottom">
    <p>Carrera 49 No 75 - 72 Local 3 Celular: 301 3665815 – 311 4117243</p>
    <p>Email: domitransp1213@gmail.com</p>
    <p>Barranquilla – Colombia</p>
    <p>Este archivo es solo un documento de consulta, y no contiene información oficial.</p>
  </footer>
</body>
</html>
