<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha:</strong>
  <%= @order.fecha %>
</p>

<p>
  <strong>Consecutivo:</strong>
  <%= @order.consecutivo %>
</p>

<p>
  <strong>Origen:</strong>
  <%= @order.origen %>
</p>

<p>
  <strong>Destino:</strong>
  <%= @order.destino %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>

<h3>Empaques</h3>

<table class="table">
  <thead class="thead-dark  ">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Tipo</th>
      <th scope="col">Cantidad</th>
    </tr>
  </thead>
  <tbody>
    <% @packs.each do |pack|%> 
      <tr>
        <th scope="row"><%= pack.id %></th>
        <td><%= pack.tipo %></td>
        <td><%= pack.cantidad %></td>
      </tr>
    <% end %>  
  </tbody>
</table>