<div class="ibox-content">
  <div class="row">
    <div class="col-md-6">
      <div class="product-images">
        <div>
          <% if @order.avatar.present? %>
            <%= image_tag @order.avatar.url, class: "product-image", height: "522px", width: "460px" %>
          <% else %>
            <p class="image-not-loaded">Imagen no cargada</p>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="product-details">
        <h2 class="font-bold m-b-xs"><%= @order.consecutivo %></h2>
        <div class="m-t-md">
          <h2 class="product-main-price">
            <% if @order.valor.present? && @order.valor > 0 %>
              <%= number_to_currency(@order.valor, unit: 'COP', separator: ',', delimiter: '.', format: '%u %n') %>
            <% else %>
              En espera de precio
            <% end %>
          </h2>
        </div>
        <hr>
        <div class="product-description">
          <h4>Product Description</h4>
          <div class="product-packs">
          <ul class="list-unstyled">
            <% @packs.each do |pack|%>
              <li>
                Tipo: <%= pack.tipo %>, Cantidad: <%= pack.cantidad %>
              </li>
            <% end %>
          </ul>
        </div>
        </div>
        <hr>
        <div class="product-details-info">
          <dl class="small m-t-md">
            <dt>Fecha:</dt>
            <dd><%= @order.fecha %></dd>
            <dt>Origen:</dt>
            <dd><%= @order.origen %></dd>
            <dt>Destino:</dt>
            <dd><%= @order.destino %></dd>
            <dt>Estado:</dt>
            <dd><%= @order.estado %></dd>
          </dl>
        </div>
        <hr>
      </div>
    </div>
  </div>
</div>
