<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h2 class="text-center">Cambiar tu contrase単a</h2>

      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>

        <%= f.input :reset_password_token, as: :hidden %>
        <%= f.full_error :reset_password_token %>

        <div class="form-group">
          <%= f.label :password, "Nueva contrase単a" %>
          <%= f.input :password,
                      label: false,
                      required: true,
                      autofocus: true,
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password" },
                      class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation, "Confirma tu contrase単a" %>
          <%= f.input :password_confirmation,
                      label: false,
                      required: true,
                      input_html: { autocomplete: "new-password" },
                      class: "form-control" %>
        </div>

        <div class="form-actions text-center">
          <%= f.button :submit, "Cambiar mi contrase単a", class: "btn btn-primary" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>