
<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-9">
    <h2> Nueva ruta </h2>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/"> Inicio </a>
        </li>
        <li class="breadcrumb-item">
            <a href="<%= dispatches_path %>"> 
            Rutas </a>
        </li>
        
        <li class="breadcrumb-item">
            <a href="#">
                <strong> Nueva ruta </strong>
            </a>
        </li>
    </ol>
  </div>
</div>

<br>
<%= simple_form_for @dispatch, local: true do |form| %>

  <%= form.input :ruta, label: "Ruta" %>
  
  <div class="input-group clockpicker" data-autoclose="true">
    <%= form.input :horario, class: 'form-control', label: "Horario"%>
      <span class="input-group-addon">
          <span class="fa fa-clock-o"></span>
      </span>
  </div>
  
  
  <%= form.input :switch, label: "Estado" %>

  
  <%= form.submit "Crear Ruta", class:"btn btn-primary" %>
  

<% end %>
